/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');

/* UNIVERSAL STYLES */
.lobster-text {
font-family: 'Lobster',cursive;
}

.orange-text {
  color: #F8512F;
}

.white-text {
  color: #fff;
}

/*=======nav bar styles=====*/
.navbar-default {
  position:absolute;
  z-index:10;
  background-color: transparent;
  border: none;
  top: 0px;
  width: 100%;
}
      /* NAV BAR LINK STYLING */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 5px #000;

    /* shadow: drop down, to side 1 pixel*/
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  color: #f65239;
  background-color: rgba(0, 0, 0, 0.25);
}

/*  ---------------    SLIDESHOW STYLING -----------------------  */
.carousel-inner {
  height: 450px;
  position: relative;
}

.carousel > .item {
width: 100%;
position: relative;
bottom: 225px;
}

/* OUR STORY SECTION */
#our-story {
  margin: 60px auto;
  height: 400px;
}


#our-story .lobster-text {
font-family: 'Lobster',cursive;
text-shadow: 1px 1px 2px #000;
font-size: 6em;
}

.year-text {
  font-family: 'Playfair Display', serif;
  font-size: 13em;
  position: absolute;
  color: rgba(0, 0, 0, .12);
}

#our-story p {
  font-weight: 200;
}


#menu {
  background-image: url('img/black_linen.png');
  background-size: cover;
  background-position: center;
}
