/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');

/* UNIVERSAL STYLES */
.lobster-text {
  font-family: 'Lobster', cursive;
}

.orange-text {
  color: #F8512F;
}

.white-text {
  color: #fff;
}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

/*=======nav bar styles=====*/
.navbar-default {
  position:absolute;
  z-index:10;
  background-color: transparent;
  border: none;
  top: 0px;
  width: 100%;
}
      /* NAV BAR LINK STYLING */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 5px #000;

    /* shadow: drop down, to side 1 pixel*/
}

.navbar-nav>li>a {
  color: #F8512F;
  text-shadow: 1px 1px 5px #000;

}

.navbar-default .navbar-nav>li>a:hover
{
  color: #f65239;
  background-color: rgba(0, 0, 0, 0.25);
}

/*  ---------------   CAROUSEL STYLING -----------------------  */
.carousel-inner {
  height: 450px;
  position: relative;
}


.carousel > .item {
width: 100%;
position: relative;

}

.hero-logo {
width: 240px;
}

.flex-slide { /* SLIDE 1 LOGO POSITIONING */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.item {
  height: 450px;
  background-size: cover;
  background-position: center;
}

.wood-bg {
  background-image: url('../img/wood-2.jpg');
}

.restaurant-bg {
  background-image: url('../img/restaurant-2.jpg');
  background-position: center;
}


.farm-bg {
  background-image: url('../img/farm-2.jpg');


}

.learnbtn {
  padding: 10px;
  border-radius: 4px;
  background-color: #F8512F;
  color: #fff;
}
.learnbtn:hover {
  background-color: #d34326;
  color: #fff;
}

.carousel-caption {
  padding-bottom: 60px;
}

/* end carousel */
/* OUR STORY SECTION */
#our-story {
  margin: 60px auto;
  height: 600px;
}


#our-story .lobster-text {
font-family: 'Lobster',cursive;
text-shadow: 1px 1px 2px #000;
font-size: 6em;
}

.year-text {
  font-family: 'Playfair Display', serif;
  font-size: 13em;
  position: absolute;
  color: rgba(0, 0, 0, .12);
}

#our-story p {
  font-weight: 200;

}

/* review SECTION */

#review {
  background-image: url('../img/food_review.jpg');
  background-position: center;
  background-size: cover;
  padding: 200px 0px;
}

.review-box {
  background-color: rgba(0,0,0,.6);
  border-radius: 6px;
}

.review-box h1 {
  text-shadow: 1px 1px 2px #000;
  font-size: 5.5em;
}

.review-box p {
  font-size: 32px;
}

/* MENU SECTION */

#menu {
  background-image: url('../img/black_linen.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}

#menu .nav li a:hover {
  background-color: rgba(255, 255, 255, .1);
  border: none;
}

#menu .col-sm-3 {
  background-color: #fff;
  padding: 20px 15px;
}

#menu h1 {
  font-size: 6em;
}

/*FORM STYLING*/
#contact {
  background: repeating-linear-gradient(#F8512F, purple, black);
}


form {
  border: 1px solid #fff;
  padding: 10px;
  margin: 80px;
}

form label::after {
  content: "*";
  color: red;
}

.no-asterisk::after {
  content: " ";
}

.margin-text {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.btn-default {
  border-radius: 8px;
}
